body{
	margin:0px;
	padding:0px;
}
.hhhhhh{
	width:100%;
	height:85px;
	background-color:#222d34;
}

.XXXXX{
	width:100%;
	height:2000px;
background-color:#1f2a34;
margin-top:-20px;}


.logo{
	margin-top: -75px;

}
.decumar{
	margin-top: -677px;
	margin-left:175px;	
	height:20px;
}
.itemb img 
{
	
	width: 1132px;
}

.thanh-menu
{	margin-top: -13px;}
.search{
	height: 32px;
	width: 550px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 400px;
	border-radius: 5px;
	margin-bottom:40px;
	margin-top: -49px;
	position:relative
}  
.search input{
	width: 490px;
	height: 30px;
	border: 0px;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);

}
.search button{
    height: 35px;
    border: 0px;
    background: no-repeat;
    position: absolute;
    right: 0px;
    color: white;
}
.search button img{
	width: 25px;
	height: auto;
vertical-align: middle;}


.image{
	background-color:#171f27;
	margin-top:2px;
  padding:5px;
 
}
.image img{
	width: 100%;
	height: 284px;
border-radius: 10px;

}


.caxi{
	margin-top:-2001px;
}
#header{
	margin-top:-1940px;
}
.phimhan{
margin-top:-1400px;
}
#header2{
	margin-top:-1280px;
}
.phimkinhdi{
	margin-top:-693px;
}

.tyu{
	margin-top:-620px;
}

.nen2{
	width:100%;
	height:110px;
	background-color:#171f26;
}


.logo2{
	margin-top:-100px;
	margin-left:150px;
}
.ty{
	margin-left:160px;
color:white;
}



















