body{
	margin:0px;
	padding:0px;
}
.hhhhhh{
	width:100%;
	height:85px;
	background-color:#222d34;
}

.XXXXX{
	width:100%;
	height:2000px;
background-color:#1f2a34;
margin-top:-20px;}


.logo{
	margin-top: -75px;

}

.itemb img 
{
	
	width: 1132px;
}
.thanh-menu
{	margin-top: -13px;}
.search{
	height: 32px;
	width: 550px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 400px;
	border-radius: 5px;
	margin-bottom:40px;
	margin-top: -49px;
}  
.search input{
	width: 490px;
	height: 30px;
	border: 0px;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);

}
.search button{
	/*height: 35px;*/
	border: 0px;
}
.search button img{
	width: 25px;
	height: auto;
vertical-align: middle;}


#wrapper{
	margin-top:-1920px;
	margin-left:-35px;
}
.image{
	background-color:#171f27;
	margin-top:2px;
  padding:4px;
 
}
.image img{
	width: 100%;
	height: 274px;
border-radius: 10px;

}
.huuuuu{
	width:1160px;
	height:1650px;
	background-color:#171f27;
	margin-top:-2000px;
	
}
.caxi{margin-top:-2010px;}

.ty{
	margin-left:8px;
color:turquoise;
margin-top:-93px;
}
.ty2{
	margin-left:80px;
color:#b5b6b6;
margin-top:-25px;
}
.ty3{
	margin-left:20px;
color:yellow;
margin-top:36px;
}

.image2{
	background-color:#0b0f15;


}

.image2 img{
	width: 100px;
	height: 150px;
border-radius: 5px;
margin-top:10px;
}

.mung{
	margin-top:-27px;
	margin-left:799px;
	color:yellow;
}
.mung2{
	margin-top:-24px;
	margin-left:955px;
	color:aqua;
}

.mung3{
	margin-top:-22px;
	margin-left:1000px;
	color:#a5d5cf;
}
.title{
	margin-left:130px;
	
}
.image3{
	background-color:yellow;


}

.image3 img{
	width: 100px;
	height: 150px;
border-radius: 5px;
margin-top:10px;
}

#sidebar{
	width:125px;
	background-color:#0b0f15;
	

}
#header3{
	margin-top:-1836px;
	margin-left:879px;
}

.chinhsua{
	width:382px;
	height:1369px;
	background-color:#0b0f15;
	margin-left:768px;

}
#wrapper2{
	margin-top:10px;
}

.image5{
	margin-top:0px;
	margin-left:5px;
}
.image6{
	margin-top:-1665px;
	margin-left:878px;
}
.image7{
	margin-top:-1500px;
	margin-left:878px;
}
.image8{
	margin-top:-1330px;
	margin-left:878PX;
}
.image9{
	margin-top:-1160px;
	margin-left:878px;
}
.image10{
	margin-top:-992px;
	margin-left:878px;
}
.image11{
	margin-top:-820px;
	margin-left:878px;
}
.image12{
	margin-top:-647px;
	margin-left:878px;
}
.chu1{
	margin-top:878px;
}
.image50{
	
}

.image50{
	color:white;
	margin-left:879px;
	margin-top:-2734px;
}
.image60{
	color:white;
	margin-left:879px;
	margin-top:-2565px;
}
.image70{
	color:white;
	margin-left:879px;
	margin-top:-2398px;
}
.image80{
	color:white;
	margin-left:879px;
	margin-top:-2230px;
}
.image90{
	color:white;
	margin-left:879px;
	margin-top:-2058px;
}
.image100{
	color:white;
	margin-left:879px;
	margin-top:-1890px;
}
.image110{
	color:white;
	margin-left:879px;
	margin-top:-1723px;
}
.image120{
	color:white;
	margin-left:879px;
	margin-top:-1550px;
}

#lonton{
	margin-top:10px;
	margin-left:-12px;
}









