body{
	margin:0px;
	padding:0px;
}
.hhhhhh{
	width:100%;
	height:85px;
	background-color:#222d34;
}

.XXXXX{
	width:100%;
	height:1500px;
background-color:#1f2a34;
margin-top:-20px;}


.logo{
	margin-top: -75px;

}

.itemb img 
{
	
	width: 1132px;
}
.thanh-menu
{	margin-top: -13px;}
.search{
	height: 32px;
	width: 550px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 400px;
	border-radius: 5px;
	margin-bottom:40px;
	margin-top: -49px;
}  
.search input{
	width: 490px;
	height: 30px;
	border: 0px;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);

}
.search button{
	/*height: 35px;*/
	border: 0px;
}
.search button img{
	width: 25px;
	height: auto;
vertical-align: middle;}

.huuuuu{
	
	
	width:1160px;
	height:1200px;
	background-color:#171f27;
	margin-top:-1500px;
	
}
	
	
	
#mun{
	margin-top:-1980px;
	margin-left:-19px;
}
	
	
	
	
	.image58 img{
		width:200px;
		height:300px;
		margin-left:-28px;
	}
	
.image8{
	margin-left:240px;
	margin-top:-1160px;
	
}
	.chu1{
		margin-left:258px;
		margin-top:-300px;
		color:yellow;
	}
	.chu2{
		margin-left:258px;
		margin-top:50px;
		color:white;
	}
	.chu3{
		margin-left:357px;
		margin-top:-25px;
		color:white;
	}
	.chu4{
		margin-left:394px;
		margin-top:-25px;
		color:white;
	}
	.chu5{
		margin-left:258px;
		margin-top:15px;
		color:white;
	}
	.chu6{
		margin-left:362px;
		margin-top:-21px;
		color:BLACK;
	}
	.chu7{
		margin-left:258px;
		margin-top:10px;
		color:white;
	}
	.chu8{
		margin-left:358px;
		margin-top:-27px;
		color:white;
	}
	.chu9{
		margin-left:258px;
		margin-top:12px;
		color:white;
	}
	.chu10{
		margin-left:330px;
		margin-top:-27px;
		color:aqua;
	}
	.chu11{
		margin-left:258px;
		margin-top:12px;
		color:white;
	}
	.chu12{
		margin-left:335px;
		margin-top:-27px;
		color:aqua;
	}
	.chu13{
		margin-left:258px;
		margin-top:12px;
		color:white;
	}
	.chu14{
		margin-left:328px;
		margin-top:-27px;
		color:aqua;
	}
	.chu15{
		margin-left:258px;
		margin-top:12px;
		color:white;
	}
	
.chu16{
		margin-left:330px;
		margin-top:-27px;
		color:aqua;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

